html{
  box-sizing:border-box;
  font-family: 'Outfit', sans-serif;
  font-size:15px;
}
*, *:before, *:after{
  box-sizing:inherit;
}
p,h4{
  margin:0;
}
#container{
  height:700px;
    width:375px;
     background-color:#d6e2f0;
    padding-top:100px;
  padding-left:52px;
}
#components{
  background-color:white;
  height:500px;
  width:270px;
  border:2px solid white;
  padding:10px;
  border-radius:20px;
  box-shadow:2px 3px 7px 0px rgba(0,0,0,0.35);
}
#qr-component{
  height:65%;
  width:100%;
  border:2px solid white;
  border-radius:10px;
  overflow:hidden;
}
#text-component{
  height:35%;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:25px;
  padding-right:25px;
}

#head{
  margin-bottom:15px;
  font-weight:700;
  color:#1f3251;
  font-size:1rem;
}
#para{
  font-weight:400;
  color:#7b879d;
  opacity:0.7;
  font-size:0.8rem;
  text-align:center;
}
@media(min-width:575px){
  #container{
    height:700px;
    width:1440px;
     background-color:#d6e2f0;
    padding-top:100px;
  padding-left:570px;
  }
}
